# External libraries
node_modules/ 

# Generated sources
processed/

# Packaged modules
*.tgz

# Configuration
config.sh

# build.sh script garbage
source/garbage_js.js
source/garbage_json.json

# Miscellaneous garbage
messy_code/
